.highlight {
  background: #13181c;
  /* Comment */
  /* Error */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight .c {
  color: #999999;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .g {
  color: #d0d0d0;
}
.highlight .k {
  color: #6ab825;
  font-weight: bold;
}
.highlight .l {
  color: #d0d0d0;
}
.highlight .n {
  color: #d0d0d0;
}
.highlight .o {
  color: #d0d0d0;
}
.highlight .x {
  color: #d0d0d0;
}
.highlight .p {
  color: #d0d0d0;
}
.highlight .cm {
  color: #999999;
  font-style: italic;
}
.highlight .cp {
  color: #cd2828;
  font-weight: bold;
}
.highlight .c1 {
  color: #999999;
  font-style: italic;
}
.highlight .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000;
}
.highlight .gd {
  color: #d22323;
}
.highlight .ge {
  color: #d0d0d0;
  font-style: italic;
}
.highlight .gr {
  color: #d22323;
}
.highlight .gh {
  color: #ffffff;
  font-weight: bold;
}
.highlight .gi {
  color: #589819;
}
.highlight .go {
  color: #cccccc;
}
.highlight .gp {
  color: #aaaaaa;
}
.highlight .gs {
  color: #d0d0d0;
  font-weight: bold;
}
.highlight .gu {
  color: #ffffff;
  text-decoration: underline;
}
.highlight .gt {
  color: #d22323;
}
.highlight .kc {
  color: #6ab825;
  font-weight: bold;
}
.highlight .kd {
  color: #6ab825;
  font-weight: bold;
}
.highlight .kn {
  color: #6ab825;
  font-weight: bold;
}
.highlight .kp {
  color: #6ab825;
}
.highlight .kr {
  color: #6ab825;
  font-weight: bold;
}
.highlight .kt {
  color: #6ab825;
  font-weight: bold;
}
.highlight .ld {
  color: #d0d0d0;
}
.highlight .m {
  color: #3677a9;
}
.highlight .s {
  color: #ed9d13;
}
.highlight .na {
  color: #bbbbbb;
}
.highlight .nb {
  color: #24909d;
}
.highlight .nc {
  color: #447fcf;
  text-decoration: underline;
}
.highlight .no {
  color: #40ffff;
}
.highlight .nd {
  color: #ffa500;
}
.highlight .ni {
  color: #d0d0d0;
}
.highlight .ne {
  color: #bbbbbb;
}
.highlight .nf {
  color: #447fcf;
}
.highlight .nl {
  color: #d0d0d0;
}
.highlight .nn {
  color: #447fcf;
  text-decoration: underline;
}
.highlight .nx {
  color: #d0d0d0;
}
.highlight .py {
  color: #d0d0d0;
}
.highlight .nt {
  color: #6ab825;
  font-weight: bold;
}
.highlight .nv {
  color: #40ffff;
}
.highlight .ow {
  color: #6ab825;
  font-weight: bold;
}
.highlight .w {
  color: #666666;
}
.highlight .mf {
  color: #3677a9;
}
.highlight .mh {
  color: #3677a9;
}
.highlight .mi {
  color: #3677a9;
}
.highlight .mo {
  color: #3677a9;
}
.highlight .sb {
  color: #ed9d13;
}
.highlight .sc {
  color: #ed9d13;
}
.highlight .sd {
  color: #ed9d13;
}
.highlight .s2 {
  color: #ed9d13;
}
.highlight .se {
  color: #ed9d13;
}
.highlight .sh {
  color: #ed9d13;
}
.highlight .si {
  color: #ed9d13;
}
.highlight .sx {
  color: #ffa500;
}
.highlight .sr {
  color: #ed9d13;
}
.highlight .s1 {
  color: #ed9d13;
}
.highlight .ss {
  color: #ed9d13;
}
.highlight .bp {
  color: #24909d;
}
.highlight .vc {
  color: #40ffff;
}
.highlight .vg {
  color: #40ffff;
}
.highlight .vi {
  color: #40ffff;
}
.highlight .il {
  color: #3677a9;
}

body {
  margin: 0 auto;
  width: 960px;
  background-color: #24292d;
  color: #eee;
  font-family: Muli,Courier,sans-serif;
  font-size: 0.8em;
  line-height: 1.6em;
  position: relative;
}

#desc {
  border: 1px solid #999;
  border-width: 1px 0;
  padding: 2em 0;
}

a {
  -webkit-transition: color 0.1s ease-in;
}

a:link {
  color: #98b5d1;
}

a:visited, a:active {
  color: #b482b9;
}

a:hover {
  color: #8dadcb;
}

ul.unstyled {
  padding-left: 2em;
}
ul.unstyled li {
  list-style: none;
}

section {
  padding-left: 3em;
}
section h2 {
  margin-left: -2em;
}
section ul.unstyled {
  padding-left: 0;
}

#content {
  margin-left: 4em;
}

#footer {
  margin-top: 4em;
  color: #454a4e;
  font-size: 0.9em;
}
#footer a {
  color: inherit;
  text-decoration: none;
}

.subtle {
  color: #888;
}

#desc h1 {
  position: relative;
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
}

#desc h1 a {
  color: inherit;
  text-decoration: none;
}

#desc h1 .subtle {
  opacity: 0.3;
  -webkit-transition: all 1s ease;
}

#desc h1:hover .subtle {
  opacity: 1;
}

#desc h1:hover .last {
  margin-top: 30px;
}

#bd {
  margin-top: 4em;
}

#hd {
  position: fixed;
  top: 0;
  width: 960px;
}

#hd .sidebar, #hd .content {
  border-top-width: 2px;
  border-top-style: solid;
  height: 20px;
  background-color: rgba(36, 41, 45, 0.8);
  -webkit-transition: all 0.2s ease;
}

#hd .sidebar:hover, #hd .content:hover {
  border-top-width: 0px;
}

#hd .sidebar {
  border-top-color: #d7f33f;
}

#hd .content {
  border-top-color: #63d2f9;
  margin-left: 4em;
}

.highlight {
  border: 1px solid #333;
  overflow: auto;
  border-radius: 3px;
  padding: 10px;
}

.highlight pre {
  margin: 0;
}

#github li {
  position: relative;
}
#github li span.git-details {
  position: absolute;
  right: 0;
  background-color: rgba(36, 41, 45, 0.8);
  padding-left: 10px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
}
#github li:hover span.git-details {
  opacity: 1;
}
#github li.remote p {
  display: none;
}

#instagram ul {
  list-style: none;
  padding: 0;
}
#instagram ul li {
  float: left;
  margin-right: 10px;
}
#instagram ul li img {
  width: 6em;
}

.remote h2 {
  background-image: url(/images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center right;
  display: inline;
  padding-right: 30px;
}

#instagram .preview {
  display: block;
}

#instagram .preview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
}
#instagram .preview.hidden {
  top: -600px;
}
#instagram .preview img {
  width: 400px;
}
#instagram .preview .preview-padding {
  margin: 3em auto;
}
